<<<<<<< HEAD
=======

>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
.wraperFormGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 303px;
  margin-bottom: 40px;
}

.formGroupError {
  color: red;
  border-color: red;
}

@media only screen and (min-width: 768px) {
  .formGroup {
    max-width: 568px;
  }
}
<<<<<<< HEAD

=======
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
@media only screen and (min-width: 1440px) {
  .formGroup {
    max-width: 840px;
  }
<<<<<<< HEAD

  .mainGrop {
    display: flex;
    gap: 40px;
  }
}

=======
  .mainGrop{
     display: flex;
     gap: 40px;
  }
}
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
.accentLabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: start;
  color: var(--main);
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .accentLabel {
    font-size: 18px;
    line-height: 1.33333;
  }
}
<<<<<<< HEAD

=======
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
@media only screen and (min-width: 1440px) {
  .accentLabel {
    margin-bottom: 2px;
  }
}
<<<<<<< HEAD

=======
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
.avatarContainer {
  display: flex;
  align-items: center;
}

.thumb {
  overflow: hidden;
  margin-bottom: 10px;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .avatar {
    width: 100px;
    height: 100px;
  }
}

.avatarInput {
  display: none;
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 16px 14px 16px;
  max-width: 303px;
  height: 46px;
}
<<<<<<< HEAD

@media only screen and (min-width: 768px) {
  .input {
    max-width: 568px;
    height: 56px;
  }
}

@media only screen and (min-width: 1440px) {
  .input {
    max-width: 400px;
    height: 56px;
=======
@media only screen and (min-width: 768px) {
  .input {
    max-width: 568px;
  height: 56px;
  }
}
@media only screen and (min-width: 1440px) {
  .input {
    max-width: 400px;
  height: 56px;
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
  }
}

.infoTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: start;
  color: var(--main);
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .infoTitle {
    font-size: 18px;
    line-height: 1.33333;
  }
}

.list {
  margin-bottom: 14px;
}

.listItem:not(:last-child) {
  margin-bottom: 12px;
}

.listItemText {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text);
  margin-bottom: 4px;
}

.listItemNorma {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--light_green);
}

.calculation {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;
  max-width: 303px;
  margin-bottom: 14px;
}

.waterValue {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.49333;
  color: var(--light_green);
}

.label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text);
  margin-bottom: 8px;
}

input[type='radio'] {
  display: none;
}

<<<<<<< HEAD
input[type='radio']+label {
=======
input[type='radio'] + label {
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
  display: inline-flex;
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}

<<<<<<< HEAD
input[type='radio']+label:before {
=======
input[type='radio'] + label:before {
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid var(--light_green);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

<<<<<<< HEAD
input[type='radio']+label:after {
=======
input[type='radio'] + label:after {
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--light_green);
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 8.5px;
  display: none;
}

<<<<<<< HEAD
input[type='radio']:checked+label:after {
=======
input[type='radio']:checked + label:after {
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
  display: block;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #000;
}

<<<<<<< HEAD
.submitBtn {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 40px;
  background-color: var(--light_green);
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .submitBtn {
    font-size: 16px;
  }
}

=======
.submitBtn{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
 padding: 14px 40px;
 background-color: var(--light_green);
 border-radius: 30px;
 outline: none;
 border: none;
 cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .submitBtn {
    font-size: 16px;
   }
}
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
@media only screen and (min-width: 1440px) {
  .submitBtn {
    font-size: 16px;
  }
}

<<<<<<< HEAD
.submitBtn:hover {
=======
.submitBtn:hover{
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
  background-color: #87d28d;
}

.uploadLabel {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  cursor: pointer;
}

.uploadText {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  cursor: pointer;
}

<<<<<<< HEAD
.formRatio {
  display: flex;
  gap: 20px;
}

.info {
  font-size: 14px;
}

=======
.formRatio{
  display:flex;
  gap:20px;
}

.info{
  font-size: 14px;
}
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
@media only screen and (min-width: 768px) {
  .info {
    font-size: 16px;
  }
}
<<<<<<< HEAD

=======
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
@media only screen and (min-width: 1440px) {
  .info {
    font-size: 16px;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
}


.error {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: red;
  max-width: 303px;
  position: absolute;
<<<<<<< HEAD
  top: 100%;
  /* або інше значення, залежно від позиції */
=======
  top: 100%; /* або інше значення, залежно від позиції */
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
  left: 0;
}

@media only screen and (min-width: 768px) {
  .error {
    max-width: 568px;
  }
}
<<<<<<< HEAD

=======
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
@media only screen and (min-width: 1440px) {
  .error {
    max-width: 400px;
  }
}