.mainContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

@media (min-width: 1440px) {
  .mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 32px 0; */
    gap: 32px;
    /* height: 100vh; */
  }
}

.AdvantagesSectionContainer {
  width: 672px;
  height: 736px;
  display: none;
}

@media (min-width: 1440px) {
  .AdvantagesSectionContainer {
    display: flex;
  }
}

@media (min-width: 320px) {
  .container {
    height: 780px;
    display: flex;
    flex-direction: column;
    /* margin: 16px auto; */
    background-color: #e6e6e8;
    border-radius: 30px;
    padding: 24px 16px 0 16px;
  }
}

@media (min-width: 375px) {
  .container {
    width: 343px;
    height: 780px;
    display: flex;
    flex-direction: column;
    /* margin: 16px auto; */
    background-color: #e6e6e8;
    border-radius: 30px;
    padding: 24px 16px 0 16px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 704px;
    height: 960px;
    /* margin: 32px auto; */
    padding: 32px 32px 0 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 672px;
    height: 736px;
    margin: unset;
  }
}

/**
  |============================
  | 
  |============================
*/

@media (min-width: 320px) {
  .signUpContainer {
    margin: 126px 0 0 0;
  }
}

@media (min-width: 375px) {
  .signUpContainer {
    width: 311px;
    /* height: 440px; */
    margin: 126px 0 0 0;
  }
}

@media (min-width: 768px) {
  .signUpContainer {
    width: 436px;
    /* height: 506px; */
    margin: 171px 0 0 102px;
  }
}

@media (min-width: 1440px) {
  .signUpContainer {
    margin: 74px 0 0 86px;
  }
}

.title {
  font-size: 32px;
  font-family: 'Poppins-bold', sans-serif;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #323f47;
  margin: 0;
}

@media (min-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 38px;
  }
}

.text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
  align-self: center;
  margin: 16px 0 0 0;
}

@media (min-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 24px;
  }
}

.text a {
  color: #2f2f2f;
  font-family: 'Poppins-bold', sans-serif;
}
