:root {
  --main: #323f47;
  --main-white: #ffffff;
}
<<<<<<< HEAD

=======
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
/* Mobile styles */
.user_header {
  /* Hello, Nadia! */
  left: 20px;
  top: 40px;

  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: var(--main);
  margin-bottom: 20px;
}
<<<<<<< HEAD

=======
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
.user_header span {
  font-weight: 700;
}

.user_button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  padding: 6px 12px;
  width: 137px;
  height: 50px;

  background: var(--main);
}
<<<<<<< HEAD

=======
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
.user_button span {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main-white);
}

.user_bar {
  display: flex;
  align-items: center;
}

.icon_popover {
  stroke-width: 1.5px;
  stroke: var(--main-white);
  cursor: pointer;
}
<<<<<<< HEAD

=======
>>>>>>> 0bcdcdfbce0c074f45566f9646ff14659edc975d
.chevron_icon {
  stroke-width: 1.5px;
  stroke: var(--main-white);
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.user_avatar {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

/* mobile: верстка гумова від 320 px до 375 px; */

@media only screen and (min-width: 320px) and (max-width: 375px) {
}
/* стає адаптивною з 375 px;*/
@media only screen and (min-width: 376px) and (max-width: 768px) {
}

/* Tablet styles*/
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .user_button {
    position: absolute;
    top: 0px;
    right: 12px;
    z-index: 999;
  }

  .user_header {
    margin-bottom: 49px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1441px) {
  .user_button {
    position: absolute;
    top: 0px;
    right: 12px;
    z-index: 999;
  }
  .user_header {
    margin-bottom: 49px;
  }
}

.user_panel {
  position: relative;
}

