.addWater_btn {
  border-radius: 30px;
  padding: 14px 20px;
  width: 140px;
  height: 46px;
  background: var(--main);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--white);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 0;
  margin-left: auto;
  margin-top: 42px;
  align-items: center;
  cursor: pointer;
}

.addWater_btn>svg {
  width: 16px;
  height: 16px;
}

.addWater_btn:hover {
  color: var(--light_green);
}

@media (min-width: 375px) {
  .addWater_btn {
    margin-left: 171px;
  }
}

@media (min-width: 768px) {
  .addWater_btn {
    margin-left: 462px;
  }
}

@media (min-width: 768px) {
  .addWater_btn {
    margin-top: 26px;
    width: 178px;
    height: 60px;
    column-gap: 10px;
    justify-content: center;
    font-size: 16px;
    padding: 18px 30px;
  }

  .addWater_btn>svg {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1440px) {
  .addWater_btn {
    margin-left: 430px;
    margin-top: 56px;

  }
  .addWater_btn {
    margin-top: 56px;

  }

  .addWater_btn {
    margin-top: 56px;
  }
}