button {
  border-radius: 30px;
  padding: 14px 20px;
  width: 140px;
  height: 46px;
  background: var(--main);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--white);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 0;
  margin-left: auto;
  margin-top: 42px;
  align-items: center;
}

button > svg {
  width: 16px;
  height: 16px;
}

@media (min-width: 375px) {
  button {
    margin-left: 171px;
  }
}
@media (min-width: 768px) {
  button {
    margin-left: 462px;

}
@media (min-width: 768px) {
  .addWater_btn {
    margin-top: 26px;
    width: 178px;
    height: 60px;
    column-gap: 10px;
    justify-content: center;
    font-size: 16px;
    padding: 18px 30px;
  }
  button > svg {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1440px) {
  button {
    margin-left: 398px;
  }
  .addWater_btn {
      margin-top: 56px;
    }
}
