@media (min-width: 320px) {
  .container {
    width: 100%;
    height: 353px;
    border-radius: 30px;
    padding: 0 16px;
    background-image: url(/images/Baner/Baner@1x_mobile.webp);
    background-size: cover;
  }
}

@media (min-width: 375px) {
  .container {
    width: 343px;
    height: 353px;
    border-radius: 30px;
    padding: 0 16px;
    background-image: url(/images/Baner/Baner@1x_mobile.webp);
    background-size: cover;
  }
}

@media screen and (min-resolution: 192dpi) {
  .container {
    background-image: url(/images/Baner/Baner@2x_mobile.webp);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    height: 446px;
    padding: 0 32px;
    background-image: url(/images/Baner/Baner@1x_tablet.webp);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .container {
    width: 704px;
    height: 446px;
    padding: 0 32px;
    background-image: url(/images/Baner/Baner_2x_tablet.webp);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 672px;
    height: 736px;
    padding: 0 32px;
    background-image: url(/images/Baner/Baner@1x_desktop.webp);
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .container {
    width: 672px;
    height: 736px;
    padding: 0 32px;
    background-image: url(/images/Baner/Baner_2x_desktop.webp);
  }
}

.customersContainer {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 48px;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 209px;
}

@media (min-width: 768px) {
  .customersContainer {
    width: 237px;
    height: 67px;
    padding: 10px 20px;
    margin-top: 283px;
  }
}

@media (min-width: 1440px) {
  .customersContainer {
    margin-top: 537px;
  }
}

.customersAvatars {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.customer {
  width: 26.4px;
  height: 28px;
}

@media (min-width: 768px) {
  .customer {
    width: 47px;
    height: 47px;
  }
}

.customer:nth-child(1) {
  z-index: 3;
  margin-left: 0;
}

.customer:nth-child(2) {
  z-index: 2;
  margin-left: -8.49px;
}

.customer:nth-child(3) {
  margin-left: -8.49px;
  z-index: 1;
}

@media (min-width: 768px) {
  .customer:nth-child(2) {
    margin-left: -19px;
  }
  .customer:nth-child(3) {
    margin-left: -19px;
  }
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customersText {
  width: 66.94px;
  font-size: 12px;
  line-height: 14px;
  font-family: 'Poppins-bold', sans-serif;
  color: #323f47;
}

@media (min-width: 768px) {
  .customersText {
    width: 90px;
    font-size: 15px;
    line-height: 22.4px;
    font-weight: bold;
  }
}

.span {
  color: #9be1a0;
}

.advantagesText {
  width: 168px;
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px;
  margin-top: 8px;
  margin-left: auto;
}

@media (min-width: 768px) {
  .advantagesText {
    width: 242px;
    height: 78px;
    gap: 10px;
    margin-top: -14px;
  }
}

@media (min-width: 1440px) {
  .advantagesText {
    margin-top: -10px;
  }
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #9be1a0;
}

.firstContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 12px;
  width: 81px;
  height: 26px;
  background-color: #323f47;
  border-radius: 30px;
  font-size: 8px;
  font-family: 'Poppins-bold', sans-serif;
  line-height: 8px;
  letter-spacing: -0.01em;
  color: #fff;
}

@media (min-width: 768px) {
  .firstContainer {
    padding: 11px 16px;
    width: 111px;
    height: 34px;
    font-size: 12px;
    line-height: 12px;
    gap: 4px;
    justify-content: center;
  }
}

.secondContainer {
  text-align: center;
  padding: 9px 12px;
  width: 83px;
  height: 26px;
  background-color: #9be1a0;
  border-radius: 30px;
  font-size: 8px;
  font-family: 'Poppins-bold', sans-serif;
  line-height: 8px;
  letter-spacing: -0.01em;
  color: #323f47;
}

@media (min-width: 768px) {
  .secondContainer {
    padding: 11px 16px;
    width: 121px;
    height: 34px;
    font-size: 12px;
    line-height: 12px;
  }
}

.thirdContainer {
  text-align: center;
  padding: 9px 12px;
  width: 108px;
  height: 26px;
  background-color: #fff;
  border-radius: 30px;
  color: #323f47;
  font-size: 8px;
  font-family: 'Poppins-bold', sans-serif;
  line-height: 8px;
  letter-spacing: -0.01em;
}

@media (min-width: 768px) {
  .thirdContainer {
    padding: 11px 16px;
    width: 158px;
    height: 34px;
    font-size: 12px;
    line-height: 12px;
  }
}
