/* style.module.css */

:root {
  --background: #f0eff4;
  --main: #323f47;
  --main-white: #ffffff;
  --accent: #9be1a0;
}

/* Mobile styles */

.daily_info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.date,
.date_wrapper {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--main);
}

.add_water_container {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.add_water_container span {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--main);
}

.icon_add_water_btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--accent);
}

.icon_add_water {
  width: 30px;
  height: 30px;
  stroke-width: 1.5px;
  stroke: var(--main);
  cursor: pointer;
}

/* mobile: верстка гумова від 320 px до 375 px; */
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .main_daily_container {
    width: 100%;
  }
  .daily_info_container {
    max-width: 100%;
  }
}
/* стає адаптивною з 375 px;*/
@media only screen and (min-width: 376px) and (max-width: 768px) {
  .main_daily_container {
    max-width: 100%;
  }

  .daily_info_container {
    width: 100%;
  }
}

/* Tablet styles*/
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .main_daily_container {
    width: 100%;
    max-width: 704px;
    height: 738px;
  }
  .daily_info_container {
    width: 100%;
    max-width: 640px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1441px) {
  .main_daily_container {
    width: 100%;
    max-width: 672px;
    height: 736px;
  }
}
