.signInFields {
  margin: 32px 0 0 0;
}

.signInFormInput {
  display: flex;
  flex-direction: column;
  height: 76px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .signInFormInput {
    height: 88px;
    margin-bottom: 20px;
    position: relative;
  }
}

.fieldText {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: -0.01em;
}

@media (min-width: 768px) {
  .fieldText {
    font-size: 16px;
    line-height: 24px;
  }
}

.inputField {
  height: 50px;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  outline: none;
  padding: 16px;
  background-color: transparent;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .inputField {
    height: 56px;
  }
}

.eyeIcon {
  fill: transparent;
  stroke: #2f2f2f;
}

.togglePasswordBtn {
  background: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: none;
  padding: 0 0 0 0;
}

@media (min-width: 768px) {
  .togglePasswordBtn {
    position: absolute;
    top: 57%;
    right: 16px;
    display: unset;
  }
}

.signInBtn {
  height: 50px;
  width: 100%;
  background-color: #9be1a0;
  border: transparent;
  border-radius: 30px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  font-weight: bold;
  color: #323f47;
}

@media (min-width: 768px) {
  .signInBtn {
    height: 60px;
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
  }
}

.signInBtn:hover {
  background-color: #87d28d;
}

.errMessage {
  color: #ef5050;
  font-size: 14px;
  line-height: 18px;
}

.inputFieldError {
  border: 1px solid #ef5050;
}
